* {
  box-sizing: border-box;
}

body, h1, h2, input, button {
  font-family: 'Chromatic Innovation', sans-serif;
  margin: 0;
  padding: 0;
}

/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: #012E62;
  display: flex;
  align-items: center;
  padding: 10px 12px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.top-bar h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.logo img {
  height: 60px;
}

/* Body */
body {
  min-height: 100vh;

  background-image: url("https://uploads.onecompiler.io/43s2gpp6m/44b6qv7we/mais_peixes_variados.png");
  backdrop-filter: blur(8px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/* Login Container */
.login-container {
  background-color: rgba(255, 255, 255, 0.7);
  width: clamp(350px, 30vw, 100vw);
  min-height: 300px;
  max-width: 400px;

  padding: clamp(16px, 5vw, 40px);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  text-align: center;
  animation: fadeIn 0.8s ease;
}

/* Conteúdo */
.login-container h2 {
  margin-bottom: 25px;
  color: #012e62;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;

  transition: border-color 0.2s, box-shadow 0.2s;
}

.login-container input:focus {
  border-color: #1e3c72;
  box-shadow: 0 0 5px #1e3c72;
}

.login-container button {
  width: 100%;
  padding: 12px;

  background: linear-gradient(to bottom, #185396, #012e62);
  color: #fff;

  border: none;
  border-radius: 8px;
  font-size: 1em;

  cursor: pointer;
  transition: background 0.3s;
}

.login-container button:hover {
  background: linear-gradient(to bottom, #2a5298, #185396);
}

/* Links do Rodapé */
.links-footer {
  font-size: 14px;
  margin-top: 25px;
}

.links-footer a {
  color: #185396;
  text-decoration: underline;
}

.links-footer a:hover {
  text-decoration: none;
  color: #012e62;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
